.App {
  text-align: center;
  overflow: hidden;
}

.logoImg {
  max-width: 100%;
  max-height: 100%;
}

.logo {
  display: block;
  height: 102px;
  width: 122px;
  margin: 20px auto 6px auto;
}

a {
  text-decoration: none;
  color: #eee;
  font-size: 18px;
}

.button,
.search {
  transition: 0.4s;
}

.button:hover,
.search:hover {
  background-color: #3e724e;
  border-color: #3e724e;
  color: #ccc;
}
